<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>dp_onepagecheckout</name>
    <displayName><![CDATA[One Page Checkout]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Modern one-page checkout: all checkout steps on a single page, updated over AJAX without full page reloads.]]></description>
    <author><![CDATA[Integritty]]></author>
    <tab><![CDATA[checkout]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>
